DATABASE_URL=sqlite+aiosqlite:///./data/dgl.db
SECRET_KEY=
PHOTOS_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
SES_SENDER_EMAIL=

LETTER_SEND_HOUR=8
LETTER_SEND_TIMEZONE=America/New_York

UPLOAD_DIR=./uploads
CORS_ORIGINS=["http://localhost:5173"]
